.wrapper_converter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}

.exchangeRates{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    background: #cbcbcb;
}

.inputBlock{
    height: 50px;
    margin: 30px;
    border-radius: 20px;
    background: #ffffff;
}
.inputBlock>*{
    font-size: 1em;
    height: 100%;
    padding: 5px 10px;
    border: 1px white solid;
    color: #828282;
    border-radius: inherit;
    outline: none;
}
.inputBlock>select{
    cursor: pointer;
}